In [1]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load 
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [9]:
# Calculate the total number of unique schools
unique = school_data ["school_name"].unique ()
unique

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [11]:
count = school_data ["school_name"].value_counts()
count

school_name
Huang High School        1
Figueroa High School     1
Shelton High School      1
Hernandez High School    1
Griffin High School      1
Wilson High School       1
Cabrera High School      1
Bailey High School       1
Holden High School       1
Pena High School         1
Wright High School       1
Rodriguez High School    1
Johnson High School      1
Ford High School         1
Thomas High School       1
Name: count, dtype: int64

In [12]:
total_unique_schools = len(unique)
print(total_unique_schools)

15

In [26]:
# Calculate the total number of students
Total_students= len(student_data ["student_name"])
print(Total_students)

39170

In [27]:
# Calculate the total budget
total_budget =school_data ["budget"].sum ()
total_budget

24649428

In [31]:
# Calculate the average (mean) math score
average_math_score =student_data ["math_score"].mean ()
average_math_score

78.98537145774827

In [32]:
# Calculate the average (mean) reading score
average_reading_score = student_data ["reading_score"].mean ()
average_reading_score

81.87784018381414

In [44]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete[school_data_complete["math_score"] >= 70].count()["student_name"]
passing_math_percentage = passing_math_count / len(student_data) * 100
passing_math_percentage

74.9808526933878

In [56]:
# Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)
passing_reading_count =school_data_complete[school_data_complete["reading_score"] >= 70].count()["student_name"]
passing_reading_percentage =passing_reading_count / len(student_data) * 100
passing_reading_percentage

85.80546336482001

In [53]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[(school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)].count()["student_name"]
overall_passing_rate = passing_math_reading_count / len(student_count) * 100
overall_passing_rate

4.908560561923276