In [5]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load 
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [17]:
# Calculate the total number of unique schools
unique = school_data ["school_name"].unique ()
unique

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [11]:
count = school_data ["school_name"].value_counts()
count

school_name
Huang High School        1
Figueroa High School     1
Shelton High School      1
Hernandez High School    1
Griffin High School      1
Wilson High School       1
Cabrera High School      1
Bailey High School       1
Holden High School       1
Pena High School         1
Wright High School       1
Rodriguez High School    1
Johnson High School      1
Ford High School         1
Thomas High School       1
Name: count, dtype: int64

In [9]:
total_unique_schools = len(unique)
print(total_unique_schools)

15

In [10]:
# Calculate the total number of students
Total_students= len(student_data ["student_name"])
print(Total_students)

39170

In [11]:
# Calculate the total budget
total_budget =school_data ["budget"].sum ()
total_budget

24649428

In [12]:
# Calculate the average (mean) math score
average_math_score =student_data ["math_score"].mean ()
average_math_score

78.98537145774827

In [13]:
# Calculate the average (mean) reading score
average_reading_score = student_data ["reading_score"].mean ()
average_reading_score

81.87784018381414

In [14]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete[school_data_complete["math_score"] >= 70].count()["student_name"]
passing_math_percentage = passing_math_count / len(student_data) * 100
passing_math_percentage

74.9808526933878

In [16]:
# Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)
passing_reading_count =school_data_complete[school_data_complete["reading_score"] >= 70].count()["student_name"]
passing_reading_percentage =passing_reading_count / len(student_data) * 100
passing_reading_percentage

85.80546336482001

In [19]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[(school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)].count()["student_name"]
overall_passing_rate = passing_math_reading_count / len(student_data) * 100
overall_passing_rate

65.17232575950983

In [41]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = pd.DataFrame  ({"Total Schools":[total_unique_schools],
                                 "Total Students":[Total_students],
                                 "Total Budget":[total_budget],
                                 "Average Math Score":[average_math_score],
                                 "Average Reading Score":[average_reading_score],
                                 "% passig Math":[passing_math_percentage],
                                 "% passig reading":[passing_reading_percentage],
                                 "% overall passig":[overall_passing_rate]})
                                             


# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)



# Display the DataFrame
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% passig Math,% passig reading,% overall passig
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

In [10]:
# Use the code provided to select the type per school from school_data
school_types = school_data.set_index(["school_name"])["type"]
school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [12]:
# Calculate the total student count per school from school_data
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
per_school_counts =school_data_complete.groupby ("school_name").size()

per_school_counts

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
dtype: int64

In [34]:
# Calculate the total school budget and per capita spending per school from school_data
per_school_capita= school_data["budget"] / school_data["size"]
school_data["capita"] = per_school_capita

per_school_budget = school_data [["school_name", "budget", "size", "capita"]]
per_school_budget.head()
per_school_budget

              school_name   budget  size  capita
0       Huang High School  1910635  2917   655.0
1    Figueroa High School  1884411  2949   639.0
2     Shelton High School  1056600  1761   600.0
3   Hernandez High School  3022020  4635   652.0
4     Griffin High School   917500  1468   625.0
5      Wilson High School  1319574  2283   578.0
6     Cabrera High School  1081356  1858   582.0
7      Bailey High School  3124928  4976   628.0
8      Holden High School   248087   427   581.0
9        Pena High School   585858   962   609.0
10     Wright High School  1049400  1800   583.0
11  Rodriguez High School  2547363  3999   637.0
12    Johnson High School  3094650  4761   650.0
13       Ford High School  1763916  2739   644.0
14     Thomas High School  1043130  1635   638.0

In [16]:
# Calculate the average test scores per school from school_data_complete

per_school_reading = school_data_complete.groupby("school_name")[["reading_score"]].mean()
print(per_school_reading )

                       reading_score
school_name
Bailey High School         81.033963
Cabrera High School        83.975780
Figueroa High School       81.158020
Ford High School           80.746258
Griffin High School        83.816757
Hernandez High School      80.934412
Holden High School         83.814988
Huang High School          81.182722
Johnson High School        80.966394
Pena High School           84.044699
Rodriguez High School      80.744686
Shelton High School        83.725724
Thomas High School         83.848930
Wilson High School         83.989488
Wright High School         83.955000

In [38]:
# Calculate the average test scores per school from school_data_complete
per_school_math  = school_data_complete.groupby("school_name")[["math_score"]].mean()
print(per_school_math )

                       math_score
school_name
Bailey High School      77.048432
Cabrera High School     83.061895
Figueroa High School    76.711767
Ford High School        77.102592
Griffin High School     83.351499
Hernandez High School   77.289752
Holden High School      83.803279
Huang High School       76.629414
Johnson High School     77.072464
Pena High School        83.839917
Rodriguez High School   76.842711
Shelton High School     83.359455
Thomas High School      83.418349
Wilson High School      83.274201
Wright High School      83.682222

In [17]:
# Calculate the number of students per school with math scores of 70 or higher from school_data_complete
# Filter students with math scores of 70 or higher
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
students_passing_math =school_data_complete[school_data_complete["math_score"] >= 70]
# Calculate the number of passing students per school
school_students_passing_math =students_passing_math.groupby("school_name").size()
# Display the result
print(school_students_passing_math)

school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
dtype: int64

In [21]:
# Calculate the number of students per school with reading scores of 70 or higher from school_data_complete
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
students_passing_reading =school_data_complete[school_data_complete["reading_score"] >= 70]
school_students_passing_reading = students_passing_reading.groupby("school_name").size()
# Display the result
print(school_students_passing_reading)

school_name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
dtype: int64

In [22]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
students_passing_math_and_reading = school_data_complete[(school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()
print(school_students_passing_math_and_reading)

school_name
Bailey High School       2719
Cabrera High School      1697
Figueroa High School     1569
Ford High School         1487
Griffin High School      1330
Hernandez High School    2481
Holden High School        381
Huang High School        1561
Johnson High School      2549
Pena High School          871
Rodriguez High School    2119
Shelton High School      1583
Thomas High School       1487
Wilson High School       2068
Wright High School       1626
dtype: int64

In [23]:
# Use the provided code to calculate the passing rates
per_school_passing_math = school_students_passing_math / per_school_counts * 100
per_school_passing_reading = school_students_passing_reading / per_school_counts * 100
overall_passing_rate = school_students_passing_math_and_reading / per_school_counts * 100
overall_passing_rate

school_name
Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
dtype: float64

In [42]:
per_school_passing_math = school_students_passing_math / per_school_counts * 100
per_school_passing_math

school_name
Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
dtype: float64

In [43]:
per_school_passing_reading = school_students_passing_reading / per_school_counts * 100
per_school_passing_reading

school_name
Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
dtype: float64

In [49]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.

per_school_summary = pd.DataFrame(
    {
        "School Type": school_types,
        "Total Students": per_school_counts,
        "Total School Budget": per_school_budget,
        "Per Student Budget": per_school_capita,
        "Average Math Score": per_school_math,
        "Average Reading Score": per_school_reading,
        "% Passing Math": per_school_passing_math,
        "% Passing Reading": per_school_passing_reading,
        "% Overall Passing": overall_passing_rate})

# Formatting
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

# Display the DataFrame
per_school_summary

ValueError: 2

In [27]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.

top_schools=per_school_summary.sort_values(by = ["% overall passig"],
                            ascending=False)
                                       
top_schools.head(5)

NameError: name 'per_school_summary' is not defined

In [54]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.


bottom_schools=per_school_summary.sort_values(by = ["% overall passig"], ascending=True)
                                       
bottom_schools.head(5)
bottom_schools

NameError: name 'per_school_summary' is not defined

In [88]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the `math_score` column for each.
ninth_grade_math_scores = ninth_graders.groupby("school_name")["math_score"].mean()
tenth_grader_math_scores = tenth_graders.groupby ("school_name")["math_score"].mean()
eleventh_grader_math_scores = eleventh_graders.groupby ("school_name")["math_score"].mean()
twelfth_grader_math_scores = twelfth_graders.groupby ("school_name")["math_score"].mean()

# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_scores_by_grade =pd.DataFrame({"9th": ninth_grade_math_scores,"10th": tenth_grader_math_scores, "11th":eleventh_grader_math_scores,"12th":twelfth_grader_math_scores})

# Minor data wrangling
math_scores_by_grade.index.name = None

# Display the DataFrame
math_scores_by_grade

                             9th       10th       11th       12th
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

In [97]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the the `reading_score` column for each.
ninth_grade_reading_scores =ninth_graders.groupby("school_name")["reading_score"].mean()
tenth_grader_reading_scores =tenth_graders.groupby ("school_name")["reading_score"].mean()
eleventh_grader_reading_scores =eleventh_graders.groupby ("school_name")["reading_score"].mean()
twelfth_grader_reading_scores =twelfth_graders.groupby ("school_name")["reading_score"].mean()


# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`
reading_scores_by_grade =pd.DataFrame({"9th": ninth_grade_reading_scores,"10th": tenth_grader_reading_scores, "11th":eleventh_grader_reading_scores,"12th":twelfth_grader_reading_scores})


# Minor data wrangling
reading_scores_by_grade = reading_scores_by_grade[["9th", "10th", "11th", "12th"]]
reading_scores_by_grade.index.name = None

# Display the DataFrame
reading_scores_by_grade

                             9th       10th       11th       12th
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

In [104]:
#Establish the bins
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [52]:
# Create a copy of the school summary since it has the "Per Student Budget"
school_spending_df = per_school_summary.copy()
print(school_spending_df)

NameError: name 'per_school_summary' is not defined

In [17]:
# Use `pd.cut` to categorize spending based on the bins.

school_spending_df["Spending Ranges (Per Student)"]  = pd.cut(school_spending_df["Per Student Budget"], bins=spending_bins, labels=spending_labels)
school_spending_df

NameError: name 'school_spending_df' is not defined